@font-face {
  font-family: "iconfont"; /* Project id 3212151 */
  src: url('~@/static/font/iconfont.woff2?t=1646381924038') format('woff2'),
       url('~@/static/font/iconfont.woff?t=1646381924038') format('woff'),
       url('~@/static/font/iconfont.ttf?t=1646381924038') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e624";
}

.icon-jilu:before {
  content: "\e6ef";
}

.icon-tianjia:before {
  content: "\e639";
}

.icon-yuangonggongzi:before {
  content: "\e63e";
}

.icon-jiangjinguize:before {
  content: "\e62f";
}

.icon-jianzhi:before {
  content: "\e7e9";
}

.icon-lijin:before {
  content: "\e7ee";
}

.icon-baoxiao:before {
  content: "\e66f";
}

.icon-tielu:before {
  content: "\e600";
}

.icon-gongjiao:before {
  content: "\e601";
}

.icon-huazhuangpin:before {
  content: "\e602";
}

.icon-chuzuche:before {
  content: "\e621";
}

.icon-youxi:before {
  content: "\e643";
}

.icon-dianqi01:before {
  content: "\e634";
}

.icon-feiji:before {
  content: "\e655";
}

.icon-huoche:before {
  content: "\e65a";
}

.icon-yule:before {
  content: "\e699";
}

.icon-canshi:before {
  content: "\e706";
}

.icon-gongjiao1:before {
  content: "\e627";
}

.icon-yundonghuwaileimufill:before {
  content: "\e6e9";
}

.icon-shumajiadianleimu:before {
  content: "\e6f1";
}

.icon-jiushui:before {
  content: "\e640";
}

.icon-jizhangben:before {
  content: "\e61c";
}

.icon-huafei:before {
  content: "\e638";
}

.icon-tubiao:before {
  content: "\e698";
}

.icon-gouwu:before {
  content: "\e899";
}

.icon-lingshi:before {
  content: "\e618";
}

.icon-mingxi:before {
  content: "\e628";
}

.icon-lvyou:before {
  content: "\e653";
}

.icon-riyongpin:before {
  content: "\e611";
}

.icon-jiaju:before {
  content: "\e616";
}

.icon-xiaochi:before {
  content: "\e603";
}

.icon-zhuti_yifu:before {
  content: "\eaeb";
}

.icon-weixiufuwu_o:before {
  content: "\eb5c";
}

.icon-yaopinfeiyong:before {
  content: "\e75c";
}

.icon-waimai:before {
  content: "\e61b";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-maicai:before {
  content: "\e635";
}

.icon-shoushufei:before {
  content: "\e679";
}

.icon-yiliaofuwu:before {
  content: "\e99a";
}

.icon-a-juzhuguanli:before {
  content: "\e654";
}

.icon-a-50-62_fuzhi-02:before {
  content: "\e60e";
}

